header {
    background-color: #b01f0a;
    color: #fff;
    padding: 10px;
  }
  footer {
    background-color: #b01f0a;
    color: #f8f4f4;
    padding: 10px;
  }
  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  nav a {
    color: #fbf9f9;
    text-decoration: none;
  }
  nav a:hover {
    text-decoration: underline;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
  a {
    color: #fdfcfc;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }


  .socials{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  .apropos{
    background-color: #b01f0a;
    color: #f8f4f4;
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


body {
  background-color: #b01f0a;
  color: #f8f4f4;
  padding: 10px;
}
footer{
  display: flex;
}
