header {
  position: absolute;
  top: 0;
  min-width: 100vw;
  background-color: #b01f0a;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 3.75rem;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

header nav ul li a {
  color: white;
  text-decoration: solid underline #fff 0.125rem;
  font-size: 1.375rem;
  align-items: center;
}
