.accueil {
  background: no-repeat 120%
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(5, 5, 5, 0.12) 28.62%,
        rgba(25, 25, 25, 0.58) 57.72%,
        rgba(37, 37, 37, 0.85) 100%
      ),
    url("images/accueil-img-cenotaphe.webp");
  background-position: center 0%;
  background-size: cover;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.titre {
  max-width: 65rem;
}

.accueil-texte {
  max-width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.accueil .container {
  display: flex;
  flex-wrap: wrap;
}

.accueil h1 {
  font-size: 4rem;
}

.billetterie-bouton,
.billetterie-bouton:visited {
  text-decoration: none;
  background-color: #fff;
  display: flex;
  width: fit-content;
  padding: 1rem 1.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.billetterie-bouton:hover,
.billetterie-bouton:active {
  background-color: #f5f4f4;
}
.accueil .billetterie-bouton {
  margin: 3.125rem 0 0 0;
}

.billetterie-bouton span {
  color: #b21e1e;
  font-family: "Lato", serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.bouton-scroll {
  display: block;
  font-family: "Noto Serif KR";
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin-top: 6.25rem;
}

.credit {
  display: block;
  font-family: "Noto Serif KR";
  font-size: 1rem;
  text-align: end;
  margin-right: 3.75rem;
}

.citation {
  max-width: 61.563rem;
  margin-top: 15.625rem;
  margin-bottom: 13.75rem;
  margin-left: auto;
  margin-right: auto;
  color: #817c7c;
  font-family: "Noto Serif KR";
  font-size: 2rem;
  font-weight: 400;
}

.collections {
  background-color: #f5f4f4;
  height: 62.5rem;
  position: relative;
}

.collections h2 {
  padding-top: 10.25rem;
  padding-bottom: 6.25rem;
}

.collections article {
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.collections-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 29.75rem;
  margin: 0 0 5.25rem 5.25rem;
}

.collections article:nth-child(1) {
  position: relative;
  width: 100%;
  height: 28rem;
  background: no-repeat
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(5, 5, 5, 0.12) 28.62%,
        rgba(25, 25, 25, 0.58) 57.72%,
        rgba(37, 37, 37, 0.85) 100%
      ),
    100% / 100% url("images/collection1_hier.webp");
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.collections article {
  height: fit-content;
  width: 100%;
}

.collections-container {
  margin: 5.25rem;
}

.collections article:nth-child(1)::after {
  position: absolute;
  content: "expo 1";
  bottom: 1rem;
  right: 1rem;
  color: #fff;
}

.collections article:nth-child(2) {
  position: absolute;
  top: 19.25rem;
  left: -58rem;
  width: 67.5rem;
  height: 28rem;
  background: no-repeat
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(5, 5, 5, 0.12) 28.62%,
        rgba(25, 25, 25, 0.58) 57.72%,
        rgba(37, 37, 37, 0.85) 100%
      ),
    100% / 100% url("images/collection1_hier.webp");
  margin-left: auto;
  margin-right: auto;
}

.collection-histoire-description {
  margin-top: 0.75rem;
}

.support-us {
  height: 20.625rem;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.collections {
  background-color: #f5f4f4;
}
.collection-savoir-plus {
  margin-top: 1.5rem;
}
.titre-expo {
  margin-bottom: 6.25rem;
}

.cadre {
  width: 100%;
  height: 25rem;
  background: #f5f4f4;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.exposition-img-container {
  background-image: url(images/exposition-art.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.exposition2 {
  background-image: url(images/exposition_eglise.webp);
}
.espace {
  margin-bottom: 40px;
}

.espace-bas {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.text-expo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-expo-content {
  padding: 0px 91px;
  font-weight: 400;
}

.exposition-schedule {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  font-weight: 700;
  padding-top: 4.75rem;
}

.bouton-scroll2 {
  display: block;
  font-family: "Noto Serif KR";
  font-size: 1.5rem;
  color: black !important;
  text-decoration: none;
  margin-left: 80px;
  margin-bottom: 200px;
}

/**/

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.escape-game {
  padding: 0;
  margin: 10.25rem 0 0;
  background: no-repeat 100%
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(5, 5, 5, 0.12) 28.62%,
        rgba(25, 25, 25, 0.58) 57.72%,
        rgba(37, 37, 37, 0.85) 100%
      ),
    url("images/escape-game.webp");
  background-size: cover;
  background-position: center;
  height: 33.063rem;
}

.escape-game h2 {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding-bottom: 50px;
  padding: 0 2rem;
}

.escape-game p {
  justify-content: center;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  margin-bottom: 60px;
}

.escape-game a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: #b21e1e;
  text-decoration: none;
  width: 200px;
  height: 50px;
}

.espace-bas-grand {
  margin-top: 200px;
  display: flex;
  align-items: center;
}

.tag {
  background: #b21e1e;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.agenda-events-list {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.agenda-event {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 50px;
  padding-right: 100px;
  margin-top: 6.25rem;
}

.agenda-event h2 {
  background: #b21e1e;
  padding: 20px;
  font-size: 20px;
  color: white;
  margin: 0;
}

.agenda-event time {
  background: white;
  color: #1b1b1b;
  font-size: 25px;
  padding: 5px 10px;
  width: 60px;
}

.agenda-event-infos {
  position: relative;
  margin-left: 15px;
}

.agenda-event-infos img {
  display: block;
}

.agenda-event-infos .tag {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.agenda-event-infos time {
  position: absolute;
  right: -57px;
  bottom: 15px;
}

.agenda-event::before {
  content: "";
  display: block;
  background: #ebebeb;
  position: absolute;
  left: 70px;
  top: 0px;
  right: 0px;
  bottom: 0;
  z-index: -1;
}

/* Version petite de la carte agenda */
.agenda-event-mini {
  padding-top: 30px;
  padding-right: 70px;
}

.agenda-event-mini img {
  max-height: 300px;
}

.boutique .p-big {
  padding-top: 5.5rem;
}

.boutique .time {
  margin-top: 3rem;
  font-weight: 700;
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.calendrier {
  width: 1.125rem;
}

.boutique .grid-container {
  margin-top: 3rem;
  display: grid;
  height: 46.25rem;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

.boutique .grid-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-container {
  background-color: blue;
  width: 100%;
  height: 100%;
  position: relative;
}
.img-container:hover {
  filter: brightness(115%);
  background-color: blue;
  width: 100%;
  height: 100%;
  position: relative;
}
.boutique-tag {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: #b21e1e;
  color: #fff;
  content: "Bijoux";
  bottom: 1.25rem;
  left: 1.25rem;
}

.img-container .img-two::after {
  content: "Nourriture";
}

.img-one {
  grid-row: 1 / span 10;
}

.img-two {
  grid-row: 1 / span 11;
}

.img-three {
  grid-row: 1 / span 5;
}

.img-four {
  grid-row: 11 / -1;
}

.img-five {
  grid-row: 12 / -1;
}

.img-six {
  grid-row: 6 / -1;
}

.e-shop {
  margin-top: 8rem;
  display: flex;
  align-items: center;
}

.e-shop h4 {
  font-weight: 400;
}

.e-shop .bouton {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-left: 3rem;
}

.e-shop a,
a:visited {
  background-color: #b21e1e;
  color: #fff;
  text-decoration: underline;
}

.newsletter-box {
  width: 40rem;
  background-color: #fff;
}

.newsletter-box {
  width: 40rem;
  background-color: #fff;
}

.newsletter {
  background-color: #f5f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2.5rem;
}

.newsletter h3 {
  font-weight: 400;
}

.newsletter-bouton {
  padding: 2rem 1rem;
  padding: 1rem 1.5rem;
  background-color: #b21e1e;
  color: #fff;
  text-decoration: none;
}

input {
  width: 100%;
  padding: 1rem;
  border: none;
}

.support-us {
  padding: 0;
  background: url("images/support_fond.webp"),
    linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.74));
  background-position: center 0%;
  background-size: cover;
  width: 100vw;
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-family: "Noto Serif KR", serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.support-us a {
  margin-top: 3rem;
  padding: 1rem 1rem;
  font-family: "Lato", serif;
  font-size: 1.25rem;
}
